<section id="body">
  <div>
    <div id="navbar">
      <img src="../../assets/images/logo.jpeg" style="width: 150px; height: 40px; margin-left: 24px; margin-top: 10px;">
      <ul id="links">
      
    
      
        <li class="link" style="border: none;background-color: rgb(224, 112, 112);font-size: 17px; font-weight: bold;font-family: 'Times New Roman', Times, serif;" >Welcome! {{usname}}</li>
        <li class="link"  [routerLink]="['/userdashboard']">Show History</li>
        <li class="link"  [routerLink]="['/indexLink']">Logout</li>
        
      </ul>
      <br style="clear: both" />
    </div>


       
<div class="container">
  <h1 style="text-align: center;font-size:40px;padding-bottom:30px;margin-top: 0;">Product List</h1>
<section class="section" *ngFor="let p of prod">
    <img src="../../assets/images/{{p.prodimage}}" class="image" />
    <div class="content">
  
      
      <label class="lb1"> PRODUCT NAME :</label>{{p.prodname}}<br><br>
      <label class="lb1"> PRODUCT DETAILS :</label>{{p.proddesc}}<br><br>
      <label class="lb1"> COST :</label>{{p.price}}<br><br>
      <button class="button" (click)="loadproduct(p.prodid)">Buy Now</button>

    </div>
  </section>
  
</div>
